<div class=" main ">
   <div class="textfield " >
    <div class="input-container text-center ">
        <label for="pesquisa" class="text-center"><i class="material-icons mt-4">
          search</i></label>
<input  class="mt-4" type="text" id="pesquisa" placeholder="Pesquisar" (input)="pesquisa($event)"/>
</div>
</div>

<div class="album  ">
  <div class="container ">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
      
    <ngf-item-cardapio 

     *ngFor="let itemComida of listaFiltroComidas"
     [item] = "itemComida"
     
     (adicionaItensAoPedido)="adicionarComidaXQuantiade($event)"
     >
    
      
    </ngf-item-cardapio>
     
  </div>
    
      </div>
    </div>
  </div>

  
